$dark-color: #333;
$dark-color-2: #666;
$color-hover: #6c7ae0;
$black-color: #222;
$grey-color: #888;
$grey-color-2: #999;
$grey-color-3: #b2b2b2;
$color-white: #fff;
$primary-color: #717fe0;
$border-color: #e6e6e6;
$border-color-2: #d9d9d9;
$header-height: 84px;
// HEADER SEARCH MODAL
$search-modal-width-lg: 960px;
$search-modal-width-md: 760px;
$search-modal-width-sm: 460px;
$search-modal-height-lg: 120px;
$search-modal-height-md: 90px;
$search-modal-height-sm: 80px;

$sidebar-modal-width: 390px;

// RESPONSIVE
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
