$text-dark: #333;
$text-hover: #6c7ae0;
$text-dark-2: #666;
$text-black: #222;
$text-color-2: #888;
$text-color-3: #999;
$text-color-5: #b2b2b2;
$text-white: #fff;
$primary-color: #717fe0;
$header-height: 84px;
// HEADER SEARCH MODAL
$search-modal-width-lg: 960px;
$search-modal-width-md: 760px;
$search-modal-width-sm: 460px;
$search-modal-height-lg: 120px;
$search-modal-height-md: 90px;
$search-modal-height-sm: 80px;

$sidebar-modal-width: 390px;

// RESPONSIVE
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
