* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,
html {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #666666;
    height: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    border: none;
    background: none;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

section {
    padding-top: 100px;
    padding-bottom: 50px;
}

// COMMON
@import "./variables.scss";

.main {
    margin-top: $header-height;

    @include mobile {
        margin-top: 70px;
    }
}

.home-banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section {
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: bold;
        color: $text-black;
        padding-bottom: 32px;
        text-align: center;
        line-height: 1.1;

        @include mobile {
            font-size: 40px;
        }
    }
}
