@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,
html {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #666666;
    height: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    border: none;
    background: none;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

img {
    vertical-align: middle;
}

// COMMON
.link {
    font-size: 14px;
    color: $dark-color;
    margin: 15px 0;

    &:hover {
        opacity: 0.8;
    }

    @include mobile {
        margin: 4px 0;
    }
}

.MuiModal-root {
    z-index: 100 !important;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;

    & .MuiTabs-indicator {
        height: 2px;
        background-color: #797979;

        @include mobile {
            display: none;
        }
    }

    & .MuiTabs-flexContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    & .MuiTab-root {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        color: $grey-color;
        text-transform: none;

        &.MuiTab-textColorPrimary.Mui-selected {
            color: $dark-color;

            @include mobile {
                border-bottom: 2px solid #797979;
            }
        }
    }
}
.tab-content {
    margin-top: 50px;
}
// button
.btn {
    min-width: 140px;
    height: 40px;
    border-radius: 24px;
    background-color: $primary-color;
    color: $color-white;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4667;
    padding: 5px 15px;
    transition: all 0.3s ease-in;

    &.btn-md {
        min-width: 160px;
        height: 43px;
    }

    &.btn-lg {
        min-width: 180px;
        height: 46px;
    }

    &.bg-dark {
        background-color: $black-color;
        color: $color-white;

        &:hover {
            background-color: $primary-color;
            color: $color-white;
        }
    }

    &.bg-white {
        background-color: $color-white;
        color: $primary-color;

        &:hover {
            background-color: $primary-color;
            color: $color-white;
        }
    }

    &.hover-black:hover {
        background-color: $black-color;
        color: $color-white;
    }

    &.hover-white:hover {
        background-color: $color-white;
        color: $primary-color;
    }

    &.text-uppercase {
        text-transform: uppercase;
        font-weight: 600;
    }

    &.btn-circle {
        min-width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 50%;
    }
}

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 15px;
        min-height: 30px;
        font-size: 13px;
        line-height: 1.6;
        color: $grey-color;
        padding: 0 15px;
        margin: 0 5px 5px 0;
        transition: all 0.3s;

        &:hover {
            cursor: pointer;
            border-color: #6c7ae0;
            color: #6c7ae0;
        }
    }
}

// CUSTOM
.main {
    margin-top: $header-height;

    @include mobile {
        margin-top: 70px;
    }
}

.home-banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.overview {
    padding-top: 100px;
    padding-bottom: 50px;
}

.blogs {
    padding-top: 60px;
    padding-bottom: 90px;

    & .section__title {
        padding-bottom: 66px;
    }
}

.section {
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: bold;
        color: $black-color;
        padding-bottom: 32px;
        text-align: center;
        line-height: 1.1;

        @include mobile {
            font-size: 40px;
        }
    }
}
