@import "../../../variables.scss";

.horizontal-scroll {
    overflow: hidden;
    overflow-x: auto;
    clear: both;
    width: 100%;
}

.cart {
    padding-bottom: 85px;

    &__actions {
        border: 1px solid $border-color;
        padding: 30px 40px 40px;

        & > h3 {
            color: $dark-color;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 30px;
        }

        & .coupon {
            &__content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                & .coupon-title {
                    font-size: 16px;
                    font-weight: 500;
                    color: $dark-color;
                    line-height: 1.4;
                }

                & .coupon-desc {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 13px;
                    font-weight: 300;
                    color: $grey-color-2;
                }
            }

            &__button {
                padding: 8px 0;
                color: $primary-color;
                display: flex;
                align-items: center;
                font-size: 16px;

                & > span {
                    margin-left: 4px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        & .cart-prices {
            display: flex;
            align-items: center;
            color: $dark-color;

            & .title {
                font-size: 16px;
                line-height: 1.4;
                font-weight: 500;
                min-width: 124px;
            }

            & .price {
                font-size: 18px;
                font-weight: 400;
                line-height: 1.2;
            }
        }

        & .totals {
            margin: 27px 0 33px;
        }
    }

    & .border-bot {
        border-bottom: 1px dashed $border-color-2;
        padding: 15px 0;
    }
}
