@import "../../variables";

.product-card {
    padding-left: 8px;

    @include mobile {
        padding: 0 32px;
        margin-bottom: 16px;
    }

    &__image {
        position: relative;
        max-width: 270px;
        overflow: hidden;
        width: 100%;

        @include tablet {
            max-width: 380px;
        }

        @include mobile {
            max-width: 100%;
        }

        & > img {
            width: 100%;
            transition: all 1s;
        }

        & > button {
            position: absolute;
            bottom: -15%;
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover {
            cursor: pointer;

            & > img {
                transform: scale(1.1);
            }

            & > button {
                bottom: 8%;
            }
        }
    }

    &__desc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 8px 0 4px;

        & .product__title {
            color: $grey-color-2;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.4;
            padding-bottom: 6px;

            &:hover {
                color: $color-hover;
            }

            @include mobile {
                font-size: 20px;
            }
        }

        & .product__price {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.4;
            color: $dark-color-2;

            @include mobile {
                font-size: 16px;
            }
        }
    }

    &__modal {
        background: #fff;
        margin: 60px 0 20px;
    }
}
