@import "../../variables.scss";

.blog-card {
    margin-bottom: 40px;

    &__image {
        position: relative;
        display: block;
        overflow: hidden;

        &:hover img {
            transform: scale(1.1);
        }

        & img {
            vertical-align: middle;
            max-width: 100%;
            transition: transform 1s ease;
        }
    }

    & .desc {
        margin-top: 15px;
        &__created {
            font-size: 13px;
            line-height: 1.4;
            color: $text-color-3;
            margin-bottom: 14px;

            & > span {
                color: $text-black;
            }
        }

        &__title {
            display: block;
            font-size: 18px;
            font-weight: 500;
            color: $text-dark;
            margin-bottom: 12px;

            &:hover {
                color: $text-hover;
            }
        }

        &__summary {
            font-size: 14px;
            font-weight: 300;
            color: $text-color-2;
            line-height: 1.6;
        }
    }
}
