@import "../../variables.scss";

footer {
    background: $black-color;
    padding-top: 75px;
    padding-bottom: 32px;

    & .footer {
        &__title {
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            line-height: 1.6;
            margin-bottom: 30px;
            text-transform: uppercase;

            @include mobile {
                text-align: center;
            }
        }

        &__link {
            display: block;
            font-size: 13px;
            font-weight: 400;
            color: $grey-color-3;
            margin-bottom: 10px;

            &:hover {
                color: $color-hover;
            }

            @include mobile {
                text-align: center;
            }
        }

        &__paragraph {
            font-size: 13px;
            font-weight: 400;
            color: $grey-color-3;
            line-height: 1.8;

            @include mobile {
                font-size: 15px;
                text-align: center;
            }
        }

        &__social {
            margin-top: 28px;
            @include mobile {
                text-align: center;
            }

            &-link {
                display: inline-block;
                margin-right: 16px;
                color: $grey-color-3;
            }
        }

        &__form {
            @include mobile {
                padding: 0 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        &__input {
            position: relative;
            width: 100%;
            border-bottom: 2px solid rgba(204, 204, 204, 0.1);

            & > input {
                background: transparent;
                border: none;
                outline: none;
                width: 100%;
                font-size: 13px;
                font-weight: 400;
                color: $grey-color-3;

                &::placeholder {
                    font-size: 13px;
                    font-weight: 400;
                    color: $grey-color-3;
                }

                &:focus + .focus-input {
                    width: 100%;
                }
            }

            & > .focus-input {
                width: 0%;
                position: absolute;
                left: 0;
                bottom: -2px;
                height: 2px;
                background-color: #6774d5;
                transition: 0.3s linear;
            }
        }

        &-btn {
            margin-top: 18px;
        }

        &__payment {
            margin-top: 40px;
            margin-bottom: 18px;
            display: flex;
            align-items: center;
            justify-content: center;

            & > img {
                padding: 1px;
            }
        }

        &__copyright {
            text-align: center;
            & > p {
                font-size: 13px;
                font-weight: 400;
                line-height: 1.4;
            }
        }
    }
}
