@import "../../variables.scss";

.filter {
    display: flex;
    align-items: center;

    & .btn {
        display: flex;
        align-items: center;
        border-radius: 4px;
        min-width: 64px;
        padding: 6px 8px;
        margin-right: 4px;
        text-transform: uppercase;
        font-weight: 400;

        & span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 4px;
            background-color: #fff;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            font-size: 12px;
            font-weight: 600;
            color: $dark-color;
        }
    }
}
