@import "../../variables.scss";

.blog {
    padding: 62px 0 60px;

    &__menu {
        padding: 0 15px 80px;

        & .title {
            font-size: 22px;
            font-weight: bold;
            line-height: 1.4;
            color: $dark-color;
            margin: 55px 0 32px;
        }

        & .search {
            border: 1px solid $border-color;
            border-radius: 25px;
            position: relative;
            overflow: hidden;

            & > input {
                border: none;
                outline: none;
                height: 50px;
                width: 100%;
                padding: 0 55px 0 28px;
                font-size: 15px;
                font-weight: 400;
                color: $dark-color;

                &::placeholder {
                    font-size: 15px;
                    font-weight: 400;
                    color: $dark-color;
                }
            }

            & > button {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding: 0 18px;
                transition: all 0.4s;

                &:hover {
                    color: $color-hover;
                }
            }
        }

        & .blog-category {
            & > li {
                border-top: 1px solid $border-color;

                &:last-child {
                    border-bottom: 1px solid $border-color;
                }

                & > .category__link {
                    display: block;
                    font-size: 15px;
                    font-weight: 400;
                    color: #888;
                    line-height: 1.6;
                    padding: 8px 4px;

                    &:hover {
                        color: $color-hover;
                    }
                }
            }
        }
    }
}
