@import "../../variables.scss";

.carousel {
    width: 100%;
    height: calc(100vh - #{$header-height});

    @include mobile {
        height: calc(100vh - 70px);
    }

    &__content {
        margin-left: 175px;

        @include tablet {
            margin-left: 48px;
        }

        @include mobile {
            margin-left: 16px;
        }

        & > h3 {
            font-size: 28px;
            color: $dark-color;
            font-weight: 400;
            text-transform: capitalize;

            @include mobile {
                font-size: 20px;
            }
        }

        & > span {
            padding: 8px 0 32px 0;
            display: block;
            font-size: 60px;
            font-weight: bold;
            line-height: 1.1;
            color: $dark-color;
            text-transform: uppercase;

            @include mobile {
                font-size: 40px;
            }
        }
    }
}

// slick
.slick-prev {
    left: 2% !important;
    color: $grey-color !important;
    z-index: 1;

    @include tablet {
        left: -2% !important;
    }

    @include mobile {
        display: none !important;
    }
}
.slick-next {
    right: 2% !important;
    color: $grey-color !important;
    z-index: 1;

    @include tablet {
        right: -2% !important;
    }

    @include mobile {
        display: none !important;
    }
}
.slick-prev:hover,
.slick-next:hover {
    color: $grey-color-2 !important;
}

// create multi animation
.slick-active.slick-current .carousel__content.animation1 > .carousel__content-event {
    animation: fadeInDown;
    animation-duration: 2s;
}
.slick-active.slick-current .carousel__content.animation1 > .carousel__content-title {
    animation: backInUp;
    animation-duration: 3s;
}
.slick-active.slick-current .carousel__content.animation1 > button {
    animation: zoomIn;
    animation-duration: 2s;
}

.slick-active.slick-current .carousel__content.animation2 > .carousel__content-event {
    animation: flipInX;
    animation-duration: 3s;
}
.slick-active.slick-current .carousel__content.animation2 > .carousel__content-title {
    animation: lightSpeedInRight;
    animation-duration: 2s;
}
.slick-active.slick-current .carousel__content.animation2 > button {
    animation: fadeInUp;
    animation-duration: 2.5s;
}

.slick-active.slick-current .carousel__content.animation3 > .carousel__content-event {
    animation: fadeInTopLeft;
    animation-duration: 3s;
}
.slick-active.slick-current .carousel__content.animation3 > .carousel__content-title {
    animation: rotateInUpRight;
    animation-duration: 2s;
}
.slick-active.slick-current .carousel__content.animation3 > button {
    animation: rotateIn;
    animation-duration: 2s;
}
