@import "../../variables.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);

    &__wrapper {
        display: flex;
        align-items: center;
        height: $header-height;
        padding-left: 45px;
    }

    &__logo-link {
        display: flex;
        align-items: center;
        margin-right: 55px;
        height: 100%;
    }

    & .nav {
        height: 100%;
        display: flex;
        align-items: center;

        &__items {
            list-style: none;
            display: flex;
            align-items: center;
            @include tablet {
                display: none;
            }
        }

        &__item {
            display: block;
            position: relative;
            padding: 20px 10px 20px 0px;
            margin: 0px 4px 0px 14px;

            @include tablet {
                padding: 8px 20px;
                width: 100%;
            }

            &-link {
                text-decoration: none;
                color: $text-dark;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.4;
                padding: 5px 0;

                @include tablet {
                    color: $text-white;
                }

                &:hover,
                &.active {
                    color: $text-hover;

                    @include tablet {
                        color: $text-white;
                    }
                }
            }

            &:hover > .sub-nav {
                visibility: visible;
                opacity: 1;
            }

            & .sub-nav {
                list-style: none;
                position: absolute;
                top: 100%;
                left: 0;
                min-width: 178px;
                max-width: 225px;
                background-color: #fff;
                padding: 5px 0;
                box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
                z-index: 10;
                transition: opacity 0.5s ease-in-out;
                visibility: hidden;
                opacity: 0;

                &-link {
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 1.4;
                    color: $text-color-2;
                    padding: 8px 20px;
                    display: block;

                    &:hover {
                        color: $text-hover;
                    }
                }
            }
        }
    }

    &-icons {
        flex-grow: 1;
        height: 100%;

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;

            & .header__icon {
                font-size: 26px;
            }
        }
    }

    &-btn {
        height: 100%;
        width: $header-height;
        color: $text-black !important;
        padding: 0 24px;
    }

    &-mobile {
        display: none;
        @include tablet {
            display: block;
        }
    }
}

.search-modal {
    position: absolute;
    top: calc((100% - #{$search-modal-height-lg}) / 2);
    left: calc((100% - #{$search-modal-width-lg}) / 2);
    right: calc((100% - #{$search-modal-width-lg} -40px) / 2);

    @include mobile {
        top: calc((100% - #{$search-modal-height-sm}) / 2);
        left: calc((100% - #{$search-modal-width-sm}) / 2);
        right: calc((100% - #{$search-modal-width-sm} -20px) / 2);
    }

    @include tablet {
        top: calc((100% - #{$search-modal-height-md}) / 2);
        left: calc((100% - #{$search-modal-width-md}) / 2);
        right: calc((100% - #{$search-modal-width-md} -10px) / 2);
    }

    & > .button-close {
        position: absolute;
        top: -40px;
        right: -8px;
        color: #605f5f;
        background-color: transparent;

        &:hover {
            opacity: 0.7;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        padding: 0 15px;
        max-width: 100%;
        height: $search-modal-height-lg;
        border: 2px solid #e6e6e6;
        background: #fff;

        @include mobile {
            height: $search-modal-height-sm;
        }

        @include tablet {
            height: $search-modal-height-md;
        }
    }

    &__button {
        color: $text-dark;

        &:hover {
            cursor: pointer;
            color: $text-hover;
        }
    }

    &__input {
        border: none;
        outline: none;
        color: $text-dark;
        font-size: 50px;
        font-weight: 200;
        height: 100%;
        width: 100%;
        padding-right: 30px;
    }
}

.border-left-right {
    border-left: 1px solid #e5e5e5 !important;
    border-right: 1px solid #e5e5e5 !important;
}
